<!-- App Main Structure -->
<template>
	<div class="app-horizontal-layout">
		<template v-if="loading">
      <!-- Loading Animation -->
			<origami></origami>
		</template>

		<template v-else>
			<!-- App Header -->
			<app-header :horizontal="true"></app-header>
			<!-- App Main Content -->
			<v-content>
				<!-- App Router -->
				<transition name="router-anim" :enter-active-class="`animated ${selectedRouterAnimation}`">
					<router-view></router-view>
				</transition>
			</v-content>

		</template>
	</div>
</template>

<script>
import Header from "Components/Header/Header.vue";
import AppMenus from "Components/AppMenus/AppMenus";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      loading: true
    };
  },
  components: {
    appHeader: Header,
    appHorizontalMenus: AppMenus,
    //appVerticalMenus: AppVerticalMenus,
  },
  mounted() {
    setTimeout(() => {
      this.loading = false;
    }, 2000);
  },
  computed: {
    ...mapGetters(["selectedRouterAnimation"]),
    horizontalLayoutSidebar: {
      get() {
        return this.$store.getters.horizontalLayoutSidebar;
      },
      set(val) {
        this.$store.dispatch("toggleHorizontalLayoutSidebar", val);
      }
    },
    // computed property to get page breadcrumbs
    pageTitle() {
      return this.$breadcrumbs[0].meta.title;
    },
    pageBreadcrumb() {
      return this.$breadcrumbs[0].meta.breadcrumb;
    }
  }
};
</script>

<style scoped>
.app-horizontal-layout {
  height: 100vh;
}
</style>

