<template>
    <v-layout>
        <!-- Filter Buttons -->
        <v-layout column>
            <v-flex xs12>
                <div row justify-start>
                    <v-btn style="margin-right:5px" 
                        v-for="(val, index) in type" 
                        :key="index" 
                        @click="filter(val)">
                        {{val}}
                    </v-btn>
                </div>
            </v-flex>
        </v-layout>

        <v-flex xs4 sm8 md4>
            <v-dialog :v-model="model" width="700">
                
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark v-on="on">Filters</v-btn>
                </template>

                <v-card>
                    <v-card-title class="headline grey lighten-2" primary-title>Select Filters</v-card-title>

                    <v-card-text>
                        <v-container fluid>
                            <v-layout align-start justify-start row>
                                <v-flex md3>
                                    <p style="text-align: left;">Type:</p>
                                    <v-checkbox v-for="(item,index) in type" :key="index" v-model="typeSelected"
                                        :label="item" :value="item"></v-checkbox>
                                </v-flex>
                                <v-flex md3>
                                    <p style="text-align: left;">Month:</p>
                                    <v-checkbox v-for="(item,index) in month" :key="index" v-model="monthSelected"
                                        :label="item" :value="item"></v-checkbox>
                                </v-flex>
                                <v-flex md3>
                                    <p style="text-align: left;">Size:</p>
                                    <v-checkbox v-for="(item,index) in size" :key="index" v-model="sizeSelected"
                                        :label="item" :value="item"></v-checkbox>
                                </v-flex>
                                <v-flex md3>
                                    <p style="text-align: left;">Name:</p>
                                    <v-checkbox v-for="(item,index) in name" :key="index" v-model="nameSelected"
                                        :label="item" :value="item"></v-checkbox>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="danger" text @click="dialog = false; discard()">Discard</v-btn>
                        <v-btn color="primary" text @click="dialog = false; selectedFilter()">Apply</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-flex>
    </v-layout>
</template>

<script>
import { mapGetters } from "vuex";


export default {
    data: function () {
        return {
        }
    },
    dialog: false,
    methods: {
        getOptions() {},
        filter: function (key) {
            this.$refs.iso.filter(key);
        },
        selectedFilter: function () {
            typeSelected = this.typeSelected;
            sizeSelected = this.sizeSelected;
            monthSelected = this.monthSelected;
            nameSelected = this.nameSelected;
            if (
                this.typeSelected.length < 1 &&
                this.sizeSelected.length < 1 &&
                this.monthSelected.length < 1 &&
                this.nameSelected.length < 1
            ) {
                this.$refs.iso.filter("All");
            } else {
                this.$refs.iso.filter("Filter");
            }
        }
    }
}

</script>