<template>
  <div class="isotope-wrapper">
    <v-container fluid grid-list-md>

      <v-layout>

        <!-- Simple Filtering -->
        <v-layout column>
          <v-flex xs12>
            <div row justify-start>
              <v-btn 
                style="margin-right:5px"  flat
                v-for="(val, index) in type" 
                :key="index" @click="filter(val)">
                {{val}}
              </v-btn>
            </div>
          </v-flex>
        </v-layout>

        <!-- Combination Filter Modal -->
        <v-flex xs4 sm8 md4>
          <v-dialog v-model="dialog" width="700">

            <template v-slot:activator="{ on }">
              <v-btn color="primary" flat v-on="on">Filtern</v-btn>
            </template>

            <v-card>
              <v-card-title class="headline grey lighten-2" primary-title>Filter</v-card-title>

              <v-card-text>
                <v-container fluid>
                  <v-layout align-start justify-start row class="filterModal">
                    <v-flex md3>
                      <p style="text-align: left;">Seminarart:</p>
                      <v-checkbox 
                        v-for="(item,index) in type" :key="index" 
                        v-model="typeSelected" :label="item" :value="item">
                      </v-checkbox>
                    </v-flex>
                    <v-flex md3>
                      <p style="text-align: left;">Monat:</p>
                      <v-checkbox 
                        v-for="(item,index) in month" :key="index" 
                        v-model="monthSelected" :label="item" :value="item">
                      </v-checkbox>
                    </v-flex>
                    <v-flex md3>
                      <p style="text-align: left;">Ort:</p>
                      <v-checkbox 
                        v-for="(item,index) in place" :key="index" 
                        v-model="placeSelected" :label="item" :value="item">
                      </v-checkbox>
                    </v-flex>
                    <v-flex md3>
                      <p style="text-align: left;">Dozent:</p>
                      <v-checkbox 
                        v-for="(item,index) in name" :key="index" 
                        v-model="nameSelected" :label="item" :value="item">
                      </v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="danger" text @click="dialog = false; discard()">Zurücksetzen</v-btn>
                <v-btn color="primary" text @click="dialog = false; selectedFilter()">Anwenden</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-flex>
      </v-layout>

      <!-- Filter Result -->
      <v-layout align-center justify-center row>
        <v-flex xs12 sm12 md12>
          <v-card flat>
            <v-card-text>
              <isotope ref="iso" :list="list" :options="option">
                <v-card v-for="(element,index) in list" :key="index" class="items">
                  <v-card-text>
                    {{element.attributes.type}}/
                    <span v-for="(name, index) in element.attributes.name" :key="index">{{name}}/ </span>
                    {{element.attributes.month}}/ {{element.attributes.place}} 

                  </v-card-text>
                </v-card>
              </isotope>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <div class="text-center">
      <v-card max-width="800" class="mx-auto"></v-card>
    </div>
  </div>
</template>

<script>
import isotope from "vueisotope";
import seminareDemo from "./data_isotope.js"

var typeSelected;
var placeSelected;
var monthSelected;
var nameSelected;

export default {
  components: {
    isotope
  },
  /*
  computed: {
    ...mapGetters(["Isotope"]),

  },
  */
  data: function() {
    return {
      typeSelected: [],
      placeSelected: [],
      monthSelected: [],
      nameSelected: [],
      type: ["ganztags", "praktiker", "halbtags", "mitarbeiter", "dialog"],
      place: ["bautzen", "chemnitz", "dresden", "leipzig", "plauen", "zwickau"],
      month: ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"],
      name: ["konrad adenauer", "willy brandt", "ludwig erhard", "helmut schmidt"],

      list: seminareDemo,
      dialog: false,
      option: {
        getFilterData: {
					ganztags: function (val) {
						return val.attributes.type === "ganztags";
					},
					praktiker: function (val) {
						return val.attributes.type === "praktiker";
					},
					halbtags: function (val) {
						return val.attributes.type === "halbtags";
					},
					mitarbeiter: function (val) {
						return val.attributes.type === "mitarbeiter";
					},
					dialog: function (val) {
						return val.attributes.type === "dialog";
					},
          Filter: function(val) {
            var a = 0;
            var b = 0;
            var c = 0;
            var d = 0;
            if (typeSelected.length > 0) {
              for (var i = 0; i < typeSelected.length; i++) {
                if (typeSelected[i] === val.attributes.type) {
                  a++;
                }
              }
            } else {
              a++;
            }
            if (monthSelected.length > 0) {
              for (var i = 0; i < monthSelected.length; i++) {
                if (monthSelected[i] === val.attributes.month) {
                  b++;
                }
              }
            } else {
              b++;
            }
            if (placeSelected.length > 0) {
              for (var i = 0; i < placeSelected.length; i++) {
                if (placeSelected[i] === val.attributes.place) {
                  c++;
                }
              }
            } else {
              c++;
            }
            if (nameSelected.length > 0) {
              for (var i = 0; i < nameSelected.length; i++) {
                if (val.attributes.name.includes(nameSelected[i])) {
                  console.log(val.id);
                  d++;
                }
              }
            } else {
              d++;
            }
            if (a && b && c && d) {
              return true;
            } else {
              return false;
            }
          },
          All: function(val) {
            return true;
          }
        }
      }
    };
  },
  methods: {
    getOptions() {},
    filter: function(key) {
      this.$refs.iso.filter(key);
    },
    selectedFilter: function() {
      typeSelected = this.typeSelected;
      placeSelected = this.placeSelected;
      monthSelected = this.monthSelected;
      nameSelected = this.nameSelected;
      if (
        this.typeSelected.length < 1 &&
        this.placeSelected.length < 1 &&
        this.monthSelected.length < 1 &&
        this.nameSelected.length < 1
      ) {
        this.$refs.iso.filter("All");
      } else {
        this.$refs.iso.filter("Filter");
      }
    },
    discard() {
      this.typeSelected = [];
      this.placeSelected = [];
      this.monthSelected = [];
      this.nameSelected = [];
      this.$refs.iso.filter("All");
    }
  }
};
</script>

<style lang="scss" scoped>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.filterModal {
  .v-input--selection-controls {
    margin: 0;
    padding: 0;
  }
}

label {
  text-transform: capitalize;
}

.items {
  position: relative;
  float: left;
  width: 400px;
  height: 200px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

//Fix vuetify transition conflict
.v-sheet {
  transition: unset;
}

</style>
