<template>
	<div class="isotope-wrapper">
		<v-container fluid grid-list-md>
			
			<!-- Filter Overlay-->
			<filters-modal></filters-modal>


			<!-- Result Container -->
			<v-layout align-center justify-center row>
				<v-flex xs12>
					<v-card class="elevation-12">
						<v-card-text>
							<isotope ref="iso" :list="list" :options="option">
								<v-card v-for="(element,index) in list" :key="index" class="items">
									<v-card-title>{{element.id}}</v-card-title>
									<v-card-text>
										<p v-for="(name, index) in element.attributes.name" :key="index">{{name}}</p>

										<!-- Add to Cart -->

									</v-card-text>
								</v-card>
							</isotope>
						</v-card-text>
					</v-card>
				</v-flex>
			</v-layout>

		</v-container>
		<div class="text-center">
			<v-card max-width="800" class="mx-auto"></v-card>
		</div>
	</div>
</template>

<script>
	import isotope from "vueisotope";
	import filtersModal from "Components/Isotope/FiltersModal";
	import seminareDemo from "./seminare_data.js";

	var typeSelected;
	var placeSelected;
	var monthSelected;
	var nameSelected;
	export default {
		name: "app",
		components: {
			isotope,
			filtersModal,
		},
		/*
		computed: {
		  ...mapGetters(["Isotope"]),

		},
		*/
		data: function () {
			return {
				/*
				typeSelected: [],
				placeSelected: [],
				monthSelected: [],
				nameSelected: [],
				type: ["Ganztags", "Praktiker", "Halbtags", "Mitarbeiter", "Dialog"],
				place: ["xxl", "xl", "lg", "md", "sm", "xsm"],
				month: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				name: [
					"Konrad Adenauer",
					"Willy Brandt",
					"Ludwig Erhard",
					"Helmut Schmidt",
				],
				*/
				data() {
					return {
						model: "dialog",
						typeSelected: [],
						placeSelected: [],
						monthSelected: [],
						nameSelected: [],
						type: ["Ganztags", "Praktiker", "Halbtags", "Mitarbeiter", "Dialog"],
						place: ["Bautzen", "Dresden", "Leipzig", "Chemnitz"],
						month: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
						name: ["Konrad Adenauer", "Willy Brandt", "Ludwig Erhard", "Helmut Schmidt"],
					} 
				},
				list: seminareDemo,
				option: {
					getFilterData: {
					Xanadu: function (val) {
						return val.attributes.type === "Ganztags";
					},
					Ebony: function (val) {
						return val.attributes.type === "Praktiker";
					},
					Red: function (val) {
						return val.attributes.type === "Halbtags";
					},
					Navy: function (val) {
						return val.attributes.type === "Mitarbeiter";
					},
					Cream: function (val) {
						return val.attributes.type === "Dialog";
					},
					Filter: function (val) {
						var a = 0;
						var b = 0;
						var c = 0;
						var d = 0;
					if (type.length > 0) {
						for (var i = 0; i < type.length; i++) { if (type[i]===val.attributes.type) { a++; } } } else { a++; } if
							(monthSelected.length> 0) {
						for (var i = 0; i < monthSelected.length; i++) { if (monthSelected[i]===val.attributes.month) { b++; } } } else {
							b++; } if (placeSelected.length> 0) {
						for (var i = 0; i < placeSelected.length; i++) { if (placeSelected[i]===val.attributes.place) { c++; } } } else {
							c++; } if (nameSelected.length> 0) {
						for (var i = 0; i < nameSelected.length; i++) { if (val.attributes.name.includes(nameSelected[i])) {
							console.log(val.id); d++; } } } else { d++; } if (a && b && c && d) { return true; } else { return
							false; } }, All: function (val) { return true; } 
					} 
				},

				discard() {
					this.typeSelected = [];
					this.placeSelected = [];
					this.monthSelected = [];
					this.nameSelected = [];
					this.$refs.iso.filter("All");
				}
			}
		}
	};
</script>

<style lang="scss">
	#app {
		font-family: "Avenir", Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #2c3e50;
	}

	.items {
		position: relative;
		float: left;
		width: 400px;
		height: 200px;
		margin: 5px;
		padding: 10px;
		background: #888;
		color: #262524;
	}
</style>