<template>
	<div class="v-add-products v-product-details">
		<app-section-loader :status="loader"></app-section-loader>
		<page-title-bar></page-title-bar>

		<template v-if="selectedSeminar !== null">
			<v-container>
				<v-row>
					<v-col cols="col-sm-12 col-md-10 mx-auto">
						<v-row>
							<p>{{ selectedSeminar.id }}</p>
							<p>{{ selectedSeminar.name }}</p>
							<v-col cols="col-sm-12 col-md-6 content-wrap">
								<router-link class="my-4" :to="`/${'/seminare'}`">Zur Seminarliste</router-link>
								<p class="mb-3 fs-14 text-gray-light"><span class="fw-semi-bold text-gray">$({message.openSlots}) :</span> {{selectedSeminar.id}}</p>

								<ul class="list-unstyled d-flex flex-wrap">
									<li v-for="Date in Dates" class="mr-3">
										<v-checkbox :label="Date"></v-checkbox>
									</li>
								</ul>
								<ul class="list-unstyled d-flex flex-wrap">
									<li v-for="Time in Time" class="mr-3">
										<v-checkbox :label="Time"></v-checkbox>
									</li>
								</ul>
								<v-text-field class="mb-4" value="5" type="number" label="$({message.seminareSlots})"></v-text-field>
								<v-btn color="primary" class="mr-3">In den Warenkorb</v-btn>
								<v-btn color="primary" >Bookmark</v-btn>
							</v-col>
						</v-row>
					</v-col>
				</v-row>
			</v-container>
		</template>
	</div>
</template>
<script>
	import { seminareData } from './data_seminare.js';

	export default {

		data() {
			return {
				loader: false,
				seminareData,
				selectedSeminar: '',
				Dates: ["Montag", "Dienstag"],
				Time: ["17:00 Uhr", "19:00 Uhr"]
			}
		},
		mounted() {
			this.getSeminarData();
		},
		methods:{
			getSeminarData(event){
				var allItems = this.seminareData.seminare;
				for(var i = 0;i < allItems.length; i++)
				{ if(allItems[i].id == this.$route.params.id )
					{
						this.selectedSeminar = {
							id: allItems[i].id,
							name: allItems[i].titel,
						}
					}

				}
			},
		}
	}
</script>
