<template >
	<div class="shop-wrapper">
		<v-container fluid px-4 py-0 grid-list-xl>

			<ais-index 
					app-id="SR17SDTY8P" 
					api-key="e51646d05ebc942c3cfed760b3b0b108" 
					index-name="Dev_Seminare">

				<v-layout row wrap>
					<v-flex d-block col xl9 lg9 md9 sm12 xs12>

						<!-- Actions -->
						<v-flex d-flex fluid class="pa-3 justify-space-between h100">
							<div class="title">
								<h3 class="mb-0">{{$t('message'+'.'+viewType)}}</h3>
							</div>
							<div class="text-right project-icon">
								<v-icon class="mr-2" :class="{active: isActive == 'grid'}" style="cursor: pointer;"
									@click="gridView()">
									apps</v-icon>
								<v-icon :class="{active: isActive == 'list'}" style="cursor: pointer;" @click="listView()">list
								</v-icon>
							</div>
						</v-flex>
				
					<!-- Seminare -->
						<!-- grid view	-->
						<v-flex d-flex row>
							<div v-show="selectedView == 'grid'">
								<seminare-grid></seminare-grid>
							</div>

							<!-- list view -->
							<div v-show="selectedView == 'list'">
								<seminare-list></seminare-list>
							</div>
						</v-flex>
					</v-flex>

					<v-flex xl3 lg3 md3 sm0 xs0 class="shop-filter">

						<!-- Sidebar -->
						<sidebar-filters></sidebar-filters>
					</v-flex>
				</v-layout>
			</ais-index>
		</v-container>
	</div>
</template>

<script>
	import SeminareGrid from "Components/Seminare/SeminareGrid";
	import SeminareList from "Components/Seminare/SeminareList";
	import SidebarFilters from "Components/Seminare/SidebarFilters";

	export default {
		components: {
			SeminareGrid,
			SeminareList,
			SidebarFilters,
		},
		data() {
			return {
				viewType: "projectGrid",
				selectedView: "grid",
				isActive: 'grid',
				offsetTop: 0,
			};
		},
		computed: {
			ecommerceSidebarFilter: {
				get() {
					return this.$store.getters.ecommerceSidebarFilter;
				},
				set(val) {
					this.$store.dispatch("toggleEcommerceSidebarFilter", val);
				}
			}
		},
		methods: {
			listView() {
				this.viewType = "projectList";
				this.selectedView = "list";
				this.isActive = 'list';
			},
			gridView() {
				this.viewType = "projectGrid";
				this.selectedView = "grid";
				this.isActive = "grid";
			},
			onScroll (e) {
				this.offsetTop = e.target.scrollTop
			}
    	},
  	};
</script>

<style>
.h100 {height: 100px!important}


</style>