<!-- <template>
  <div class="callout" >
    <button @click.stop="show" class="button secondary">Click me</button>
    
    <div class="callout" v-if="showInside" v-click-outside="closeEvent">
      
      <p>Caveat: The Event that makes this box show ("Click me") has to use the .stop modifier, otherwise the event set up by <i>v-click-outside</i> will catch it, and $emit the custom event prematurely </p>
      
      <button class="button" @click="hide">Close</button>
    
    </div>
    
    <v-row justify="center" align="center">
      <v-subheader>Offset Top</v-subheader>
      {{ offsetTop }}
    </v-row>
    <v-container
      id="scroll-target"
      style="max-height: 400px"
      class="overflow-y-auto"
      >
      <v-row
        v-scroll:#scroll-target="onScroll"
        align="center"
        justify="center"
        style="height: 1000px"
        >
      </v-row>
    </v-container>
  </div>
</template>
-->

<script>

Vue.directive('click-outside', {
  priority: 700,
  bind () {
    let self  = this
    this.event = function (event) { 
    	console.log('emitting event')
    	self.vm.$emit(self.expression,event) 
 	  }
    this.el.addEventListener('click', this.stopProp)
    document.body.addEventListener('click',this.event)
  },
  
  unbind() {
  	console.log('unbind')
    this.el.removeEventListener('click', this.stopProp)
    document.body.removeEventListener('click',this.event)
  },
  stopProp(event) {event.stopPropagation() }
})

export default {
    data() {
        return {
                showInside: false
        }
    },
    methods:{
        show: function () {
            this.showInside = true 
        },
        hide: function () { 
            console.log('hide')
            this.showInside = false
        }
    },
    events: {
        closeEvent: function () {
        console.log('close event called')
        this.hide()
        }
    }
};
</script>
