<template>
   <app-card
		colClasses="xl6 lg6 md6 sm6 xs12"
		customClasses="product-item"
		:footer="true"
	>
		
		<router-link 
			:to="`/${'seminare' + '/seminar' + '/'+ data.id}`" 
			class="primary--text fs-14"
		>
			<h5 class="mb-2">{{data.titel}}</h5>
		</router-link>
		
		<div class="product-info">
			<span class="error--text fw-semi-bold d-block mb-2">EUR {{data.preis1}}</span>
			<span class="fs-12 fw-normal grey--text d-block mb-2">{{data.category}}</span>
			<p class="fs-14 mb-0">{{ data.Veranstaltung_Events[0].Veranstaltung_Inhalt.titel }}</p>
		</div>
		<div slot="footer" class="justify-space-between d-custom-flex align-items-center">
			
			<router-link 
				:to="`/${'seminare' + '/seminar' + '/'+ data.id}`" 
				class="primary--text fs-14"
			>
				{{$t('message.showDetails')}}
			</router-link>

			<v-btn
				v-if="ifItemExistInCart(data)"
				:to="`/${'cart'}`"
				class="ma-0 warning"
				small
			>
				{{$t('message.viewCart')}}
			</v-btn>

			<v-btn
				v-else
				class="ma-0 light"
				@click="addProductToCart(data)"
				:loading="loading"
				:disabled="loading"
				small
			>
				{{$t('message.addToCart')}}
			</v-btn>

		</div>
   </app-card>
</template>

<script>
import { mapGetters } from "vuex";
import { textTruncate} from "Helpers/helpers";

export default {
  props: ["data"],
  data() {
    return {
      loading: false
    };
  },
  computed: {
    ...mapGetters(["cart"])
  },
  methods: {
	  	textTruncate(text) {
      		return textTruncate(text, 100);
		},
    addProductToCart(item) {
      this.loading = true;
      setTimeout(() => {
        this.loading = false;
        this.$store.dispatch("addProductToCart", item);
		}, 500);
		console.log(item);
    },
    /**
     * Check if item exists in cart
     */
    ifItemExistInCart(result) {
      let exists = false;
      for (let item of this.cart) {
        if (item.id == result.objectID) {
          exists = true;
        }
      }
      return exists;
    }
  }
};
</script>

