<template>
   <div class="sidebar-filter-wrap">
		<app-card
			customClasses="mb-4"
		>
			<search-box></search-box>
      </app-card>
      <app-card
         customClasses="mb-4"
      >
			<ais-refinement-list 
				attribute-name="Veranstaltung_Typ.bezeichnung"
				:limit="5"
			>
         	<h6 slot="header">{{$t('message.type')}}</h6>
         </ais-refinement-list>
      </app-card>
      <app-card
         customClasses="mb-4"
      >
			<ais-range-input
  				attribute-name="preis1"
			>
        		<h6 slot="header">{{$t('message.price')}}</h6>
         </ais-range-input>
      </app-card>

      <app-card
         customClasses="mb-4"
      >
         <ais-refinement-list 
				attribute-name="Veranstaltung_Events.Veranstaltung_Referents.anrede_name" 
				:limit="100"
			>
         	<h6 slot="header">{{$t('message.referent')}}</h6>
         </ais-refinement-list>
      </app-card>

      
		 <app-card
		 	customClasses="mb-4"
		 >
         <ais-clear>
				<h5 class="mb-0">{{$t('message.resetFilter')}}</h5>
			</ais-clear>
      </app-card>
   </div>
</template>
<script>
	import SearchBox from "./SearchBox";
	export default {
		components: {
			SearchBox
		}
	};
</script>