<template>
	<v-menu
		:close-on-content-click="false"
		offset-y
		left
		origin="right top" z-index="99" content-class="cart-dropdown" transition="slide-y-transition" nudge-top="-20"
	>
		<v-badge right overlap slot="activator">
			<span slot="badge">{{cart.length}}</span>
			<i class="zmdi grey--text zmdi-shopping-cart zmdi-hc-fw font-lg"></i>
		</v-badge>
		<v-card>
			<div class="dropdown-top d-custom-flex justify-space-between primary">
				<span class="white--text fw-bold">{{$t('message.cart')}}</span>
			</div>
			<div class="text-xs-center pa-4" v-if="cart == ''">
				<span class="d-block font-3x mb-15 error--text">
					<i class="zmdi zmdi-shopping-cart"></i>
				</span>
				<h3>{{$t('message.noItemsFound')}}</h3>
			</div>
			<div v-else class="dropdown-content">
				<vue-perfect-scrollbar style="height:280px" :settings="settings">
					<v-list two-line>
						<template v-for="(cart, index) in cart">
							<v-list-tile :key="index">
								<v-list-tile-content>
									<span class="fs-14">{{cart.name}}</span>
									<span class="fs-12 fw-normal grey--text">
										EUR {{cart.price}} X {{cart.quantity}}
									</span>
								</v-list-tile-content>
								<v-list-tile-action>
									<v-btn @click="deleteItemFromCart(cart)" icon >
										<i class="zmdi zmdi-close"></i>
									</v-btn>
								</v-list-tile-action>
							</v-list-tile>
						</template>
					</v-list>
				</vue-perfect-scrollbar>
				<delete-confirmation-dialog
					ref="deleteConfirmationDialog"
					heading="Seminar aus dem Einkaufskorb entfernen?"
					message=""
					@onConfirm="onDeleteItemFromCart"
				>
				</delete-confirmation-dialog>
			</div>
			<v-card-actions v-if="cart != ''">
				<v-btn color="primary" v-if="horizontal" small :to="`/${'cart'}`">
					{{$t('message.viewCart')}}
				</v-btn>
				<v-btn v-else small color="primary" :to="`/${'cart'}`">{{$t('message.viewCart')}}</v-btn>
				<v-spacer></v-spacer>
				<span class="fs-14 grey--text">{{$t('message.totalPrice')}}: EUR {{getTotalPrice}}</span>
			</v-card-actions>
		</v-card>
	</v-menu>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: ["horizontal"],
  data() {
    return {
      selectDeletedProduct: null,
      settings: {
        maxScrollbarLength: 160
      }
    };
  },
  computed: {
    ...mapGetters(["cart"]),
    getTotalPrice() {
      let totalPrice = 0;
      if (this.cart.length > 0) {
        for (const item of this.cart) {
          totalPrice += item.price;
        }
        return totalPrice.toFixed(2);
      } else {
        return totalPrice;
      }
    }
  },
  methods: {
    /**
     * open dialog to delete product
     */
    deleteItemFromCart(product) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectDeletedProduct = product;
    },
    /**
     * delete product
     */
    onDeleteItemFromCart() {
      this.$refs.deleteConfirmationDialog.close();
      this.$store.dispatch(
        "onDeleteProductFromCart",
        this.selectDeletedProduct
      );
    }
  }
};
</script>
