<!-- Header Structure -->
<template>
	<div>
		<v-toolbar 
			class="Vuely-toolbar"
			content-class="justify-content-between align-content-start"
			flat
			app
			fixed
		>	
			<div class="d-custom-flex navbar-left">
				<div class="site-logo-wrap d-custom-flex ml-0">
					<router-link to="/seminare" class="site-logo-img">
						<img src="/static/svg/logos/logo_stbverband-sachsen.svg" alt="site logo" width="150" height="auto">
					</router-link>
				</div>
			</div>
			<div class="navbar-right">
				<menu-dropdown></menu-dropdown>
				<cart :horizontal="horizontal"></cart>
			</div>
		</v-toolbar>
	</div>
</template>


<div v-click-outside="nameOfCustomEventToCall">
  Some content
</div>

<script>
//import MobileSearchForm from "./MobileSearchForm";
import Cart from "./Cart";
import MenuDropdown from "./Menu";
import { mapGetters } from "vuex";

export default {
	props: {
		horizontal: {
			default: false,
			type: Boolean
		}
	},
	data() {
		return {
			//collapsed: false, 				// collapse sidebar
			//drawer: null, 					// sidebar drawer default true
			//enableDefaultSidebar: false
		};
	},
	computed: {
		...mapGetters([
		])
	},
	methods: {
		// toggle full screen method
		toggleFullScreen() {
			if (screenfull.enabled) {
			screenfull.toggle();
			}
		},
		sidebarPath(link){
			this.$store.dispatch('setActiveMenuGroup',{ pathURL: link });
			this.$router.push(this.getMenuLink(link));
		},
		getMenuLink(link) {
			return "/" + link;
		},
			toggleSearchForm() {
				this.$store.dispatch('toggleSearchForm');
		}
	},

	events: {
		nameOfCustomEventToCall: function (event) {
			console.log("click");
		}
	},
	components: {
		Cart,
		MenuDropdown,
		//appMenu: Menu,
		//LanguageProvider,
		//Notifications,
		//MobileSearchForm,
	}
};
</script>
