<template>
	<v-menu 
		:position-x="1" 
		:position-y="1" 
		absolute 
		z-index="2" transition="slide-y-transition" 
		content-class="quicklink-dropdown menu-overlay-wrapper" 
		right 
		class="v-step-1 quick-link align-content-center"
		>
		
		<v-btn @click="toggleBodyClass('menu-open')" icon large slot="activator" class="my-0" >
			<i class="zmdi grey--text zmdi-hc-fw font-lg zmdi-menu"></i>
		</v-btn>
		
		<v-layout align-center justify-center row fill-height>
			<v-list class="dropdown-list">
				<v-list-tile v-for="link in links" :key="link.title">
					<router-link  :to="`/${link.to}`"><span>{{ $t(link.title) }}</span></router-link>
				</v-list-tile>
			</v-list>
		</v-layout>
		
	</v-menu>
</template>

<script>
export default {
	data(){
		return {
			links: [
				{
					title: "Isotope",
					to: "seminare-isotope",
				},
				{
					title: "Seminare",
					to: "seminare",
				},
				{
					title: "Check-Out",
					to: "checkout",
				},
			]
		}
	},
	methods: {
		sidebarPath(link){
			this.$store.dispatch('setActiveMenuGroup',{ pathURL: link });
			this.$router.push(this.getMenuLink(link));
		},
		getMenuLink(link) {
			return '/' + link;
		},
		
		toggleBodyClass(className) {
			const el = document.body;
			el.classList.toggle(className);
		},
	},
};
</script>