<template>
   <div class="app-footer d-custom-flex justify-space-between align-items-center">
      <ul class="list-inline footer-menu mb-0">
         <li>
            <v-btn flat :to="`/${'/seminare'}`">{{$t('message.seminare')}}</v-btn>
         </li>
         <li>
            <v-btn flat :to="`/${'/about'}`">{{$t('message.about')}}</v-btn>
         </li>
      </ul>
      <h6 class="mb-0 fw-normal">{{copyrightText}}</h6>
   </div>
</template>

<script>
import AppConfig from "Constants/AppConfig";

export default {
  data() {
    return {
      copyrightText: AppConfig.copyrightText
    };
  },
  methods: {
  }
};
</script>
