.site-logo-img {
    //background: url('../../../public/static/svg/backgrounds/logo_background.svg');
    //background-position: center;
    //background-repeat: no-repeat;
    //background-size: contain;
    //width: 243px;
    //height: auto;
}

/*============ Menu ===========*/



.v-toolbar {
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: red;
        background: url('../../../public/static/svg/backgrounds/header_background-2-b.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;

        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }


    .menu-open &  {
        &::before {
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
        }
    }


    //background-color: transparent!important;

    .theme--light & {
        background-color: transparent;
    }
    .v-toolbar__content {
        padding: 0;
        justify-content: space-between;
        align-items: start;
        height: 13.6vw!important;
        
        .navbar-right {
            padding-right: 1.5rem;
        }
    }
}




.menu-overlay-wrapper {
    max-width: unset;
    width: 100vw;
    height: 100vh;

    background: url('../../../public/static/svg/backgrounds/header_background-3-menu.svg');
    background-position: center;
    background-size: cover;

    .v-list {
        background: transparent;
        color: $ft-bright;
    } 
}

.v-badge.badge--overlap {
    top: 0;
    >span {
       right: -3px;
       height: 20px;
       width: 20px;
       span {
          padding-top: 2px;
       }
    }
}


/*============ Cart ===========*/
