/*======== Main Scss ========*/
.content {
  overflow-y: hidden;
}
.dash-title {
	margin: 0.9375rem 0; //15px;
	span {
		color: $d-title-color;
		font-size: $d-title-font-size;
		text-transform: $d-title-transform;
		letter-spacing: 2px;
		font-weight: bold;
		a {
			vertical-align: 2px;
			i {
			font-size: $d-title-font-size;
			color: $gray-dark;
			margin-left: 5px;
			}
		}
	}
}
.dash-card-wrap, .card {
	transition: all 0.4s ease-in-out 0s;
	&:hover {
		box-shadow: $card-hover-shadow;
	}
}
#nprogress .bar {
  	background: $danger !important;
}
#nprogress .spinner-icon {
	border-top-color: $danger !important;
	border-left-color: $danger !important;
}
